/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Oxygen', sans-serif; */
:root {
  --main-color: #6c63ff;
  --light-color: #f9f7fe;
  --dark-color: #272142;
  --header-font: "Josefin Sans", sans-serif;
  --main-font: "Oxygen", sans-serif;
}

h1 {
  font-family: var(--header-font);
  color: #000;
}

h2,
p {
  font-family: var(--main-font);
  color: var(--dark-color);
}

.hero {
  background-color: var(--light-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 52px;
  }
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
