/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Oxygen', sans-serif; */
:root {
  --main-color: #6c63ff;
  --light-color: #f9f7fe;
  --dark-color: #272142;
  --header-font: "Josefin Sans", sans-serif;
  --main-font: "Oxygen", sans-serif;
}

h1 {
  font-family: var(--header-font);
  color: #000;
}

h2,
p {
  font-family: var(--main-font);
  color: var(--dark-color);
  font-size: 18px;
  line-height: 30px;
}

h2 {
  font-size: 64px;
}

img {
  border-radius: 10px;
}

.hero {
  background-color: var(--light-color);
  text-align: center;
  padding: 160px 20px 200px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hobby {
  padding: 60px 60px;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
}

.content-container h2 {
  font-size: 18px;
  font-weight: bold;
}

.content-container p {
  font-size: 16px;
}

.content {
  margin: 30px;
}

.about-page-photo {
  margin-top: 35px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--main-font);
  line-height: 1.5;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-family: var(--main-font);
  margin-left: 15px;
}

nav li.active a,
nav a:hover {
  color: var(--main-color);
}

nav a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 100ms ease-in-out;
}

.logo {
  max-width: 80px;
}

footer {
  margin: 60px 0 30px;
}

footer .contact-box {
  background-color: var(--light-color);
  padding: 30px 60px;
  margin: 0 60px;
  border-radius: 10px;
}

footer h4 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 32px;
}

footer p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--main-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--main-color);
  background-color: var(--light-color);
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background-color: var(--main-color);
}

@media (max-width: 1400px) {
  h2 {
    font-size: 30px;
  }

  .hobby {
    padding: 10px 60px;
  }

  .content-container {
    padding-top: 100px;
  }

  .about-page-photo {
    margin-top: 60px;
  }

  .content h3 {
    font-size: 22px;
  }

  .content-container h1 {
    font-size: 52px;
  }
}

@media (max-width: 992px) {
  .hobby-pic {
    margin-top: 80px;
  }

  .about-page-photo {
    margin-top: 120px;
  }

  .content-container {
    padding-top: 40px;
  }

  .content-container h1 {
    font-size: 40px;
  }

  .content-container h3 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 52px;
  }

  .hero p {
    font-size: 26px;
  }

  .hero {
    padding: 60px 10px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 575px) {
  footer .contact-box {
    padding: 30px 10px;
    margin: 0 60px;
  }

  footer h4 {
    font-size: 24px;
  }

  footer p {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  footer .email-link {
    font-size: 18px;
  }
}

@media (max-width: 368px) {
  .logo {
    max-width: 60px;
  }

  nav li {
    margin-left: 10px;
    font-size: 12px;
  }

  footer h4 {
    font-size: 18px;
  }

  footer p {
    font-size: 14px;
  }
}
