/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Oxygen', sans-serif; */

body {
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-family: "Oxygen", sans-serif;
}
